@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/Century\ Gothic/centurygothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/Century\ Gothic/centurygothic_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal; 
  }
body{
    background: url(../images/BG.svg);
    color: #FFFFFF;
    margin: 0;
    text-rendering: optimizeLegibility;
    
}
/* Удаление отступов и полей у всех элементов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Обнуление размеров шрифта и высоты строки */
  html {
    font-size: 100%;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%; /* Для устранения увеличения текста в мобильных браузерах */
  }
  /* Удаление стилизации списка */
  ul, ol {
    list-style: none;
  }
  
  /* Удаление подчеркивания у ссылок */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Обнуление стилей для изображений */
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /* Удаление границ у элементов форм */
  button, input, textarea, select {
    border: none;
    outline: none;
    font: inherit;
  }
  
  /* Сброс стилей таблиц */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Удаление лишнего стиля для кнопок */
  button {
    background: none;
    padding: 0;
    cursor: pointer;
  }
  
  /* Блок для предотвращения перевода элементов в курсив или жирный шрифт */
  b, strong {
    font-weight: bold;
  }
  
  i, em {
    font-style: normal;
  }
.h2{
    font-family: 'CenturyGothic';
    font-size: 48px;
    font-weight: 700;
    line-height: 58.85px;
    text-align: left;
    margin-bottom: 40px;

}
.header{
    background-color: #0B0833;
   .logo{
    display: block;
    max-height: 80px;
    max-width: 215px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
   } 
}
.main{
  padding: 80px 0;
  &__banner{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
    height: 500px;
margin-bottom: 80px;
  }
    &__nav{
        ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        a{
            display: block;
            background-color: #8EB0FF;
            width: 36px;
            height: 36px;
            border: 2px solid rgba(2, 74, 241, 1);
            padding: 5px;
            box-sizing: border-box;
            transition: all .3s ease-in-out;
            &:hover, &.active{
                background-color: rgba(2, 74, 241, 1);
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    &__info{
        font-family: 'CenturyGothic';
        font-weight: 700;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        a{
            display: block;
            background: #FFFFFF;
            border-radius: 10px;
            max-width: 288px;
            color: rgba(0, 48, 160, 1);
            font-size: 70px;
            font-weight: 700;
            line-height: 85.83px;
            text-align: center;
            transition: all .3s ease-in-out;
            &:hover{
                background: rgba(0, 48, 160, 1);
                color: #FFFFFF;
            }
            
        }
        .name{
          font-size: 35px;
          line-height: 42.91px;
          text-align: left;
          
        }
        .content{
          font-size: 75px;
          line-height: 91.96px;
          text-align: left;
          
        }
    }
    &__image{
        flex-basis: 45%;
        img{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
    .text-block{
      margin-bottom: 80px;
      p{
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          font-style: normal;
          font-size: 27px;
          line-height: 32.93px;
          text-align: justify;
          margin-bottom: 80px;
          
      }
      ul{
        font-family: Montserrat;
        font-size: 27px;
        margin-bottom: 40px;
        font-weight: 500;
        line-height: 32.93px;
        letter-spacing: -0.01em;
        text-align: left;
        li{
          position: relative;
          padding-left: 160px;
          &::after{
            position: absolute;
            display: block;
            width: 139px;
            height: 15px;
            left: 0;
            content: '';
            background-image: url(../images/custom_li.svg);
            background-repeat: no-repeat;
            background-size: cover;
            top: 50%;
            transform: translateY(-50%);
            background-position: center;
            
          }
          span{
            color: #8EB0FF;
            font-weight: bold;
          }
        }
      }
  }
  .video_slider{
    margin-bottom: 80px;
      .swiper {
          width: 100%;
          height: 100%;
        }
    
        .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100% !important;
          .content{
            border: 9px solid; /* Задание ширины и стиля границы */
            border-image-source: linear-gradient(90deg, #6372FF 0%, #0030A0 100%);
            border-image-slice: 1; /* Указывает, как резать изображение границы */
            width: 30px;
            text-align: center;
            width: 80% !important;
            height: 80vh;
          }
        }
    
        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
  }
  .bonus_table{
    margin-bottom: 80px;
      table{
          box-sizing: border-box;
          width: 100%;
          background: linear-gradient(90deg, rgba(0, 66, 218, 0.2) 0%, rgba(171, 179, 255, 0.2) 100%);
          border: 4px solid #6372FF;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          font-size: 35px;
          line-height: 42.67px;
          text-align: center;
          th, td{
              border-width: 1px 0px 0px 1px;
              border-style: solid;
              border-color: #8EB0FF;
              padding: 15px 10px;
              height: 110px;
              width: 33%;
          }
          thead{
            th{
              color:rgba(142, 176, 255, 1);
              font-size: 45px;
              font-weight: 700;
              line-height: 58.5px;
              text-align: center;
            }
          }
          
      }
  }
  .banner_block{
    margin-bottom: 80px;
    font-family: 'CenturyGothic';
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 355px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    border: 9px solid;
    border-image-source: linear-gradient(90deg, #6372FF 0%, #0030A0 100%);
    border-image-slice: 1;
    .wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    img{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .banner_txt{
      position: relative;
      font-size: 50px;
      line-height: 61.3px;
      text-shadow: 2px 2px 5px rgba(99, 114, 255, 0.8), 4px 4px 10px rgba(0, 48, 160, 0.7); 
      color: rgba(255, 255, 255, 1);
      z-index: 1;
      max-width: 602px;
     
    }
    a{
      position: relative;
      display: inline-block;
      background-color: #FFFFFF;
      color: rgba(0, 48, 160, 1);
      font-size: 30px;
      line-height: 36.78px;
      padding: 20px 80px;
      border-radius: 10px;
      transition: all .3s ease-in-out;
      &:hover{
        background-color: rgba(0, 48, 160, 1);
        color: #FFFFFF;
      }
    }
  }
}




.footer{
    .wrapper{
        display: flex;
        justify-content: space-between; 
        gap: 50px;
    }
    &__menu{
        display: flex;
        flex-direction: column;
        font-family: 'CenturyGothic';
        text-align: left;
        font-size: 22px;
        &_title{
            color: rgba(142, 176, 255, 1);
            font-weight: 700;
            margin-bottom: 40px;
        }
        &_item{
            color: #fff;
            font-weight: 500;
            margin-bottom: 20px;
        }
    }
}















.container {
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Адаптация для экранов шириной до 1440px */
  @media (max-width: 1440px) {
    .container {
      max-width: 1400px;
    }
  }
  
  /* Адаптация для экранов шириной до 1280px */
  @media (max-width: 1280px) {
    .container {
      max-width: 1200px;
    }
  }
  
  /* Адаптация для экранов шириной до 1024px */
  @media (max-width: 1024px) {
    .container {
      max-width: 960px;
    }
  }
  
  /* Адаптация для экранов шириной до 768px (планшеты) */
  @media (max-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  /* Адаптация для экранов шириной до 480px (мобильные устройства) */
  @media (max-width: 480px) {
    .container {
      max-width: 100%;
      padding: 0 10px;
    }
  }
 


